
<h1>Your basket is ready to go!</h1>

<h6>Please review order and enter payment details below</h6>
<br>

<div class="waves-effect waves-light btn">
  <%= link_to "Edit Basket", basket_path %>

</div>

<div class="">

  <% @current_user.basket.line_items.each do |item| %>
      <p>
        Product: <%= item.product.title %>
      </p>
      <p>
        Quantity: <%= item.quantity %>
      </p>
      <p>
        <%= cl_image_tag item.product.image %>

      </p>

      Subtotal: AUD <%= item.product.price*item.quantity %>

  <% end %>

      Total :

      <br>
  <%= fields_for( :payment ) do |p| %>


<div class="credit">
<%= p.label :card_number, "Card Number", data: { stripe: 'label'} %>
<%= p.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number'} %>
</div>

<div class="credit">
<%= p.label :card_cvv, "Card CVV", data: { stripe: 'label'} %>
<%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvv'} %>
</div>

<div class="credit">
<%= p.label :card_expires, "Card Expires", data: { stripe: 'label'} %>
<%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'exp-year'} %>

</div>

</div>


<% end %>

  <a class="waves-effect waves-light btn-large">Pay</a>

</div>
