<!DOCTYPE html>
<html>
  <head>
    <title>GA AmazingShop</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
        <strong>




          <%= link_to "GA Amazing Shop", root_path %>

            <%= link_to "GA Products", products_path %>



        </strong>

    </nav>

    <%= yield %>


  </body>
</html>
